.grid{
    width: 100%;
    border: 1px solid slategrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-row-gap:10px;
    grid-column-gap:10px;

}
.box1{
    background-color: blueviolet;
}
.box2{
    background-color: black;
}
.box3{
    background-color: forestgreen;
}
.box4{
    background-color: indigo;
}
.box5{
    background-color: khaki;
}
.box6{
    background-color: coral;
}